VITE_SUPABASE_URL=https://kvitjvktmv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhpokpo3MiOiJzdXBhYmFzZSIsInJljnvrkKs
VITE_SUPABASE_SERVICE_ROLE_KEY=eklvlfkvmU4
VITE_GEMINI_API_KEY=Alkmvjkrncjkrm,njkcnfemcd
VITE_OPENWEATHER_API_KEY=rjnrejkcrnerijcrnf
